<!DOCTYPE html>
<html>
<body>

<h2>Fill  information</h2>


<form action="" method='POST'>

 {% csrf_token %}
 <label for="fname">Coursename:</label><br>
 <input type="text" id="name" name="name" ><br>
 <label for="lname"> Code:</label><br>
 <input type="number" id="Code" name="Code" ><br><br>
 <label for="lname">Collage:</label><br>
 <input type="text" id="Collage" name="Collage" ><br><br>
 <label for="lname">Student:</label><br>
 <input type="number" id="Student" name="Student" ><br><br>
 <input type="submit" value="Submit">


</form> 



</body>
</html>