<!DOCTYPE html>
<html>
<body>

<h2>Update data</h2>

<form action= "" method='POST'>
{% if obj %}
 {% csrf_token %}
  <label for="fname">Coursename:</label><br>
  <input type="text" id="name" name="name" value={{obj.Coursename}}><br>
  <label for="lname">Code:</label><br>
  <input type="number" id="Code" name="Code" value={{obj.Code}}><br><br>
  <label for="lname">Collage:</label><br>
  <input type="text" id="Collage" name="Collage" value={{obj.Collage}}><br><br>
  <label for="lname">Student:</label><br>
  <input type="number" id="Student" name="Student" value={{obj.Student}}><br><br>
  <input type="submit" value="Submit">
 {% endif %}
</form> 



</body>
</html>